h2{
			background-color: gray;
			border: 5px solid black;
			color: black;
			border-radius: 10px;
			margin: 20px 40px 10px 30px;
			padding: 20px 30px 10px 40px;
				}
			.blog-title{
				text-align: center;


			}